<div class="modal fade" id="mylogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">x</span></button>
                <h4 class="modal-title" id="myModalLabel">{{posts.login_title}}</h4>
            </div>
            <form class="form-horizontal" action="login" method="post">
                <div class="modal-body">
                    <div class="alert alert-danger" id="loginError" style="display:none;">
                        <p id="loginErrorMessage"></p>
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-4 control-label">{{posts.username}}</label>

                            <div class="col-lg-8">
                                <input type="text" class="form-control" name="username" placeholder="Username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-4 control-label">{{posts.Password}}</label>

                            <div class="col-lg-8">
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                       required>
                            </div>
                        </div>
                    </fieldset>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{posts.CLOSE}}</button>
                    <button type="submit" class="btn btn-primary" value="login">{{posts.Login}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="myregister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">x</span></button>
                <h4 class="modal-title" id="myModalLabel">{{posts.regi_title}}</h4>
            </div>
            <form class="form-horizontal" action="register" onsubmit="return validateRegistration()" method="post">
                <div class="modal-body">
                    <div class="alert alert-danger" id="registerError" style="display:none;">
                        <p id="registerErrorMessage"></p>
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <label for="inputUsername" class="col-lg-4 control-label">{{posts.username}}</label>

                            <div class="col-lg-8">
                                <input type="text" class="form-control" name="username" id="registerUsername"
                                       placeholder="Username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFirstname" class="col-lg-4 control-label">{{posts.name_First}}</label>

                            <div class="col-lg-8">
                                <input type="text" class="form-control" name="firstname" id="registerFirstname"
                                       placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLastname" class="col-lg-4 control-label">{{posts.name_Last}}</label>

                            <div class="col-lg-8">
                                <input type="text" class="form-control" name="lastname" id="registerLastname"
                                       placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-4 control-label">{{posts.Email}}</label>

                            <div class="col-lg-8">
                                <input type="email" class="form-control" name="email" id="registerEmail"
                                       placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-4 control-label">{{posts.Password}}</label>

                            <div class="col-lg-8">
                                <input type="password" class="form-control" name="password" id="registerPassword"
                                       placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputConfirmPassword" class="col-lg-4 control-label">{{posts.con_password}}</label>

                            <div class="col-lg-8">
                                <input type="password" class="form-control" id="registerConfirmPassword"
                                       placeholder="Confirm Password" required>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{posts.CLOSE}}</button>
                    <button type="submit" class="btn btn-primary" value="register" id="registerButton">{{posts.Register}}</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
    function validateUsername(username) {
        var re = /^\w+$/;
        return re.test(username);
    }
    function validateRegistration() {
        var username = $("#registerUsername").val();
        if (validateUsername(username) == false) {
            $("#registerErrorMessage").text("A valid username can only contain alphabets, numbers, and underscores.");
            $("#registerError").show();
            return false;
        }
        var email = $("#registerEmail").val();
        if (validateEmail(email) == false) {
            $("#registerErrorMessage").text("Email is not valid.");
            $("#registerError").show();
            return false;
        }
        var password = $("#registerPassword").val();
        var confirmPassword = $("#registerConfirmPassword").val();
        if (password != confirmPassword) {
            $("#registerErrorMessage").text("Passwords do not match.");
            $("#registerError").show();
            return false;
        } else if (password.length < 6) {
            $("#registerErrorMessage").text("A password should contain at least 6 characters.");
            $("#registerError").show();
            return false;
        }
        $("#registerError").hide();
        return true;
    }

    function alert_refresh(alert_place, alert_message) {
        if (alert_place == "login") {
            $(window).load(function () {
                $("#mylogin").modal('show');
            });
            $("#loginErrorMessage").text(alert_message);
            $("#loginError").show();
        } else if (alert_place == "register") {
            $(window).load(function () {
                $("#myregister").modal('show');
            });
            $("#registerErrorMessage").text(alert_message);
            $("#registerError").show();
        }
    }

    $(document).ready(function () {
        {% if alert_place %}
            alert_refresh("{{ alert_place }}", "{{ alert_message }}")
        {% endif %}
    });

</script>
