<ul class="nav navbar-nav navbar-right">
    {% if user %}
        {% if user['admin'] == True %}
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    {% if language == 'en' %}
                        Admin Management
                        {% else %}
                        管理员管理
                        {% endif %}

                        <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="user-admin">
                        {% if language == 'en' %}
                        User Management
                        {% else %}
                            用户管理
                        {% endif %}

                    </a></li>
                    <li><a href="data-admin">
                        {% if language == 'en' %}
                        Database Management
                        {% else %}
                            数据库管理
                        {% endif %}</a></li>
                </ul>
            </li>
        {% endif %}
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle"
               data-toggle="dropdown">{{ user['firstname'] }} {{ user['lastname'] }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="user">
                {% if language == 'en' %}
                        Profile
                        {% else %}
                        基本信息
                        {% endif %}
                </a></li>

                <li class="divider"></li>
                <li><a href="logout">
                    {% if language == 'en' %}
                       Logout
                        {% else %}
                            登出
                        {% endif %}
                </a></li>
            </ul>
        </li>
    {% else %}
        <li>
            <button class="btn btn-primary btn-material-lightblue" data-toggle="modal" data-target="#mylogin">
               {{posts.Login}}
            </button>
        </li>
        <li>
            <button class="btn btn-primary btn-material-lightblue" data-toggle="modal" data-target="#myregister">
               {{posts.Register}}
            </button>
        </li>
    {% endif %}
</ul>