<script src="{{ url_for('static', filename='js/01-PerBaseQuality.js') }}"></script>
<script src="{{ url_for('static', filename='js/02-PerSequenceQualityScores.js') }}"></script>
<script src="{{ url_for('static', filename='js/03-PerBaseSequenceContent.js') }}"></script>
<script src="{{ url_for('static', filename='js/04-PerBaseGCContent.js') }}"></script>
<script src="{{ url_for('static', filename='js/05-PerSequenceGCContent.js') }}"></script>
<script src="{{ url_for('static', filename='js/06-COGContent.js') }}"></script>
<script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/highcharts-more.js') }}"></script>
<script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
<script src="{{ url_for('static', filename='js/gray.js') }}"></script>
<script src="{{ url_for('static', filename='js/grid.js') }}"></script>