{% extends "include/navbar-fixed-top.html" %}
{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/{{ language }}/projects">Projects</a></li>
    </ul>
    {% include "include/nav_bar_right.html" %}
{% endblock %}
{% block contain %}
<div class="jumbotron" style="background-image: url(/static/images/biopedia_jumbo.jpg);
        background-size: cover;">
    <div class="container">
        <h1>Biopedia</h1>

        <p>This is the index page for Biopedia.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ url_for('static', filename='images/sass-less.png') }}" alt="Sass and Less support"
                 class="img-responsive">

            <h3>Preprocessors</h3>

            <p>Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, <a
                    href="../css/#less">Less</a> and <a href="../css/#sass">Sass</a>. Quickly get started with
                precompiled CSS or build on the source.</p>
        </div>
        <div class="col-sm-4">
            <img src="{{ url_for('static', filename='images/devices.png') }}" alt="Responsive across devices"
                 class="img-responsive">

            <h3>One framework, every device.</h3>

            <p>Bootstrap easily and efficiently scales your websites and applications with a single code base, from
                phones to tablets to desktops with CSS media queries.</p>
        </div>
        <div class="col-sm-4">
            <img src="{{ url_for('static', filename='images/components.png') }}" alt="Components"
                 class="img-responsive">

            <h3>Full of features</h3>

            <p>With Bootstrap, you get extensive and beautiful documentation for common HTML elements, dozens of custom
                HTML and CSS components, and awesome jQuery plugins.</p>
        </div>
    </div>

<!-- Start of Counter -->

<div>
    <CENTER>
        <h3>Visits
        <script language="JavaScript">
            var count = "biopedia";          // Change Your Account?
            var type = "signlng";       // Change Your Counter Image?
            var digits = "5";          // Change The Amount of Digits on Your Counter?
            var prog = "unique";          // Change to Either hit/unique?
            var statslink = "no";    // provide statistical link in counter yes/no?
            var sitelink = "yes";     // provide link back to our site;~) yes/no?
            var cntvisible = "yes"; // do you want counter visible yes/no?
        </script>
        <script language="JavaScript" src="{{ url_for('static', filename='js/count-035.js') }}"></script>
        </h3>
    </CENTER>

</div>
<!-- End of Counter -->
</div>



{% endblock %}
{% block title %}
         Online Bioinformatics Data Center - Biopedia
{% endblock %}
{% block picture %}
    {% if not username %}
    {% include "include/login_register_modals.html" %}
    {% endif %}
{%endblock%}

