<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Biopedia - Sample
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Google Material Design CSS-->
    <link href="{{ url_for('static', filename='css/ripples.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/material-wfont.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/snackbar.min.css') }}" rel="stylesheet">
    <!-- Datatable CSS -->
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/projects.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

<nav class="navbar navbar-material-purple navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Biopedia</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/index">Home</a></li>
                <li><a href="/{{ language }}/projects">Projects</a></li>
                <li><a href="/{{ language }}/samples?name={{ project_name }}">{{ project_name }}</a></li>
                <li class="active"><a
                        href="/{{ language }}/profile?project={{ project_name }}&name={{ sample_name }}">{{ sample_name }}</a>
                </li>
            </ul>
            {% include "include/nav_bar_right.html" %}
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h2>{{ sample_name }}</h2>

        <table id="detail" class="table table-striped">
            {% for detail_name in selected_details_name %}
                <tr>
                    <td>{{ detail_name }}</td>
                    <td>{{ sample_detail[detail_name] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="container">
    <h1>Chart No.1</h1>

    <div class="row">
        <div id="chart1"></div>
    </div>
</div>

<div class="container">
    <h1>Chart No.2</h1>

    <div class="row">
        <div id="chart2"></div>
    </div>
</div>

<div class="container">
    <h1>Chart No.3</h1>

    <div class="row">
        <div id="chart3"></div>
    </div>
</div>

<div class="container">
    <h1>Chart No.5</h1>

    <div class="row">
        <div id="chart5"></div>
    </div>
</div>

<div class="container">
    <h1>Chart No.6</h1>

    <div class="row">
        <div id="chart6"></div>
    </div>
</div>


<!-- Scripts Placed at the end of the document so the pages load faster -->

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
<script src="{{ url_for('static', filename="js/highcharts-more.js") }}"></script>
<script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
<script src="{{ url_for('static', filename='js/gray.js') }}"></script>
<script src="{{ url_for('static', filename='js/grid.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.columnFilter.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/material.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ripples.min.js') }}"></script>

{% if not username %}
    {% include "include/login_register_modals.html" %}
{% endif %}

<!--
Self-defined Scripts
-->
<script type="text/javascript">
$(function () {
    $('#chart2').highcharts(chartOptions);
});
var chartOptions = {
    title: {
        text: 'Quality score distribution over all sequences',
        align: 'center',
        style: {
            fontSize: '13px',
            fontWeight: 'lighter'
        }
    },
    xAxis: {
        min: 0,
        title: {
            text: 'Mean Sequence Quality(Phred Score)'
        },
        plotBands: [
            {
                from: 2.5,
                to: 3.5,
                color: '#E0E0E0'
            },
            {
                from: 0.5,
                to: 1.5,
                color: '#E0E0E0'
            },
            {
                from: 6.5,
                to: 7.5,
                color: '#E0E0E0'
            },
            {
                from: 8.5,
                to: 9.5,
                color: '#E0E0E0'
            },
            {
                from: 10.5,
                to: 11.5,
                color: '#E0E0E0'
            },
            {
                from: 12.5,
                to: 13.5,
                color: '#E0E0E0'
            },
            {
                from: 14.5,
                to: 15.5,
                color: '#E0E0E0'
            },
            {
                from: 16.5,
                to: 17.5,
                color: '#E0E0E0'
            },
            {
                from: 18.5,
                to: 19.5,
                color: '#E0E0E0'
            },
            {
                from: 20.5,
                to: 21.5,
                color: '#E0E0E0'
            },
            {
                from: 22.5,
                to: 23.5,
                color: '#E0E0E0'
            },
            {
                from: 24.5,
                to: 25.5,
                color: '#E0E0E0'
            },
            {
                from: 26.5,
                to: 27.5,
                color: '#E0E0E0'
            },
            {
                from: 28.5,
                to: 29.5,
                color: '#E0E0E0'
            },
            {
                from: 30.5,
                to: 31.5,
                color: '#E0E0E0'
            },
            {
                from: 32.5,
                to: 33.5,
                color: '#E0E0E0'
            },
            {
                from: 34.5,
                to: 35.5,
                color: '#E0E0E0'
            },
            {
                from: 36.5,
                to: 37.5,
                color: '#E0E0E0'
            },
            {
                from: 4.5,
                to: 5.5,
                color: '#E0E0E0'
            }
        ],
        categories: ['2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40'
        ]
    },
    yAxis: {
        title: {
            text: ''
        },
        lineColor: '#6C6C6C',
        lineWidth: 2,
        min: 0,
        gridLineColor: '#ADADAD',//横向网格线颜色
        gridLineDashStyle: 'solid',//横向网格线样式
        gridLineWidth: 2//横向网格线宽度
    },
    tooltip: {
        valueSuffix: '°C'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [
        {
            color: "#FF0000",
            name: 'Average Quality per read',
            data: [5916, 180, 188, 353, 580, 1376, 3492, 7962, 14928, 22318, 27295, 30884, 32885, 34577, 36820, 38649, 40405, 42778, 46582, 51187, 56817, 66321, 80409, 102112, 132669, 172259, 223414, 287883, 364467, 459410, 583986, 766136, 1.08709e+006, 1.85099e+006, 3.94424e+006, 8.251e+006, 1.73338e+007, 1.77179e+007, 1.35221e+006]
        }
    ]
}
$(function () {
    $('#chart3').highcharts({
        title: {
            text: 'Sequece content across all cases',
            align: 'center',
            style: {
                fontSize: '13px',
                fontWeight: 'lighter'
            }
        },
        xAxis: {
            title: {
                text: 'Position in read(bp)'
            },
            plotBands: [
                {
                    from: 2.5,
                    to: 3.5,
                    color: '#E0E0E0'
                },
                {
                    from: 0.5,
                    to: 1.5,
                    color: '#E0E0E0'
                },
                {
                    from: 6.5,
                    to: 7.5,
                    color: '#E0E0E0'
                },
                {
                    from: 8.5,
                    to: 9.5,
                    color: '#E0E0E0'
                },
                {
                    from: 10.5,
                    to: 11.5,
                    color: '#E0E0E0'
                },
                {
                    from: 12.5,
                    to: 13.5,
                    color: '#E0E0E0'
                },
                {
                    from: 14.5,
                    to: 15.5,
                    color: '#E0E0E0'
                },
                {
                    from: 16.5,
                    to: 17.5,
                    color: '#E0E0E0'
                },
                {
                    from: 18.5,
                    to: 19.5,
                    color: '#E0E0E0'
                },
                {
                    from: 20.5,
                    to: 21.5,
                    color: '#E0E0E0'
                },
                {
                    from: 22.5,
                    to: 23.5,
                    color: '#E0E0E0'
                },
                {
                    from: 24.5,
                    to: 25.5,
                    color: '#E0E0E0'
                },
                {
                    from: 26.5,
                    to: 27.5,
                    color: '#E0E0E0'
                },
                {
                    from: 28.5,
                    to: 29.5,
                    color: '#E0E0E0'
                },
                {
                    from: 30.5,
                    to: 31.5,
                    color: '#E0E0E0'
                },
                {
                    from: 32.5,
                    to: 33.5,
                    color: '#E0E0E0'
                },
                {
                    from: 34.5,
                    to: 35.5,
                    color: '#E0E0E0'
                },
                {
                    from: 36.5,
                    to: 37.5,
                    color: '#E0E0E0'
                },
                {
                    from: 4.5,
                    to: 5.5,
                    color: '#E0E0E0'
                }
            ],
            categories: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80-84', '85-89', '90', '90', '90', '90', '90', '90', '90', '90', '90', '90', '90', '90', '90', '90']
        },
        yAxis: {
            lineColor: '#6C6C6C',
            lineWidth: 2,
            min: 0,
            gridLineColor: '#ADADAD',//横向网格线颜色
            gridLineDashStyle: 'solid',//横向网格线样式
            gridLineWidth: 2,//横向网格线宽度
            max: 100,
            title: {
                text: ''
            },
            plotLines: [
                {
                    value: 0,
                    width: 1,
                    color: '#808080'
                }
            ]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [
            {
                name: '%G',
                data: [20.771216124613456, 24.022533011258798, 19.7471071783863, 20.770138412034367, 21.133565031410008, 21.256702201995328, 22.141931133343427, 20.89093626404419, 20.9827017763048, 21.354991506779452, 21.34856204471249, 21.47431489086122, 21.577923497412502, 21.605070729161678, 21.65720024855219, 21.699248535612238, 21.645601090940882, 21.693812005641586, 21.692330125029535, 21.683383865226794, 21.70062552418813, 21.741228837653537, 21.70942322401304, 21.73652867418509, 21.73676640398826, 21.68305963903935, 21.68305963903935, 21.68305963903935, 21.68305963903935, 21.68305963903935, 21.68305963903935, 21.68305963903935, 21.68305963903935, 21.68305963903935, 21.68305963903935, 21.68305963903935, 21.68305963903935, 21.68305963903935, 21.68305963903935]
            },
            {
                name: '%A',
                data: [29.618966965790765, 31.555120732177404, 28.16601621066358, 28.548233365789493, 28.967114319006992, 28.932228981982473, 28.92037298261327, 29.014807108619245, 28.203569818884244, 28.935937920244026, 28.984957685414265, 28.822464289970995, 28.837222007719333, 28.72685533238077, 28.79801967669601, 28.713609384425908, 28.738770344817056, 28.72371509716267, 28.75884320541514, 28.67005134767282, 28.72459277163871, 28.739580805863596, 28.743529748553986, 28.72535235846528, 28.753736217794906, 28.633630588327634, 28.633630588327634, 28.633630588327634, 28.633630588327634, 28.633630588327634, 28.633630588327634, 28.633630588327634, 28.633630588327634, 28.633630588327634, 28.633630588327634, 28.633630588327634, 28.633630588327634, 28.633630588327634, 28.633630588327634]
            },
            {
                name: '%C',
                data: [26.006502106789302, 26.761386574366647, 31.352414164105387, 28.632295050996966, 29.152135783385685, 28.23077896992765, 28.573209358954948, 29.124912483613464, 29.492956135000668, 28.46576703589905, 28.4516443974134, 28.385561211084397, 28.30269385680139, 28.224598082458602, 28.199474348800752, 28.146445188469993, 28.182232263518042, 28.140505973341472, 28.132680532294774, 28.135791496841243, 28.14123070305658, 28.101542296092042, 28.123351546012238, 28.107083095458574, 28.100791091903922, 28.167659061687445, 28.167659061687445, 28.167659061687445, 28.167659061687445, 28.167659061687445, 28.167659061687445, 28.167659061687445, 28.167659061687445, 28.167659061687445, 28.167659061687445, 28.167659061687445, 28.167659061687445, 28.167659061687445, 28.167659061687445]
            },
            {
                name: '%T',
                data: [23.603314802806473, 17.66095968219715, 20.734462446844727, 22.049333171179175, 20.74718486619731, 21.58028984609455, 20.364486525088353, 20.969344143723102, 21.320772269810288, 21.243303537077477, 21.21483587245984, 21.31765960808339, 21.28216063806677, 21.44347585599895, 21.34530572595105, 21.440696891491857, 21.433396300724024, 21.441966923854267, 21.416146137260547, 21.51077329025914, 21.433551001116577, 21.417648060390825, 21.423695481420737, 21.43103587189106, 21.408706286312913, 21.51565071094557, 21.51565071094557, 21.51565071094557, 21.51565071094557, 21.51565071094557, 21.51565071094557, 21.51565071094557, 21.51565071094557, 21.51565071094557, 21.51565071094557, 21.51565071094557, 21.51565071094557, 21.51565071094557, 21.51565071094557]
            }
        ]
    });
});
$(function () {
    $('#chart5').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'GC distribution over all sequences',
            align: 'center',
            style: {
                fontSize: '13px',
                fontWeight: 'lighter'
            }
        },
        xAxis: {
            plotBands: [
                {
                    from: 2.5,
                    to: 3.5,
                    color: '#E0E0E0'
                },
                {
                    from: 0.5,
                    to: 1.5,
                    color: '#E0E0E0'
                },
                {
                    from: 6.5,
                    to: 7.5,
                    color: '#E0E0E0'
                },
                {
                    from: 8.5,
                    to: 9.5,
                    color: '#E0E0E0'
                },
                {
                    from: 10.5,
                    to: 11.5,
                    color: '#E0E0E0'
                },
                {
                    from: 12.5,
                    to: 13.5,
                    color: '#E0E0E0'
                },
                {
                    from: 14.5,
                    to: 15.5,
                    color: '#E0E0E0'
                },
                {
                    from: 16.5,
                    to: 17.5,
                    color: '#E0E0E0'
                },
                {
                    from: 18.5,
                    to: 19.5,
                    color: '#E0E0E0'
                },
                {
                    from: 20.5,
                    to: 21.5,
                    color: '#E0E0E0'
                },
                {
                    from: 22.5,
                    to: 23.5,
                    color: '#E0E0E0'
                },
                {
                    from: 24.5,
                    to: 25.5,
                    color: '#E0E0E0'
                },
                {
                    from: 26.5,
                    to: 27.5,
                    color: '#E0E0E0'
                },
                {
                    from: 28.5,
                    to: 29.5,
                    color: '#E0E0E0'
                },
                {
                    from: 30.5,
                    to: 31.5,
                    color: '#E0E0E0'
                },
                {
                    from: 32.5,
                    to: 33.5,
                    color: '#E0E0E0'
                },
                {
                    from: 34.5,
                    to: 35.5,
                    color: '#E0E0E0'
                },
                {
                    from: 36.5,
                    to: 37.5,
                    color: '#E0E0E0'
                },
                {
                    from: 38.5,
                    to: 39.5,
                    color: '#E0E0E0'
                },
                {
                    from: 40.5,
                    to: 41.5,
                    color: '#E0E0E0'
                },
                {
                    from: 42.5,
                    to: 43.5,
                    color: '#E0E0E0'
                },
                {
                    from: 44.5,
                    to: 45.5,
                    color: '#E0E0E0'
                },
                {
                    from: 46.5,
                    to: 47.5,
                    color: '#E0E0E0'
                },
                {
                    from: 48.5,
                    to: 49.5,
                    color: '#E0E0E0'
                },
                {
                    from: 50.5,
                    to: 51.5,
                    color: '#E0E0E0'
                },
                {
                    from: 52.5,
                    to: 53.5,
                    color: '#E0E0E0'
                },
                {
                    from: 54.5,
                    to: 55.5,
                    color: '#E0E0E0'
                },
                {
                    from: 56.5,
                    to: 57.5,
                    color: '#E0E0E0'
                },
                {
                    from: 58.5,
                    to: 59.5,
                    color: '#E0E0E0'
                },
                {
                    from: 60.5,
                    to: 61.5,
                    color: '#E0E0E0'
                },
                {
                    from: 62.5,
                    to: 63.5,
                    color: '#E0E0E0'
                },
                {
                    from: 64.5,
                    to: 65.5,
                    color: '#E0E0E0'
                },
                {
                    from: 66.5,
                    to: 67.5,
                    color: '#E0E0E0'
                },
                {
                    from: 68.5,
                    to: 69.5,
                    color: '#E0E0E0'
                },
                {
                    from: 70.5,
                    to: 71.5,
                    color: '#E0E0E0'
                },
                {
                    from: 72.5,
                    to: 73.5,
                    color: '#E0E0E0'
                },
                {
                    from: 74.5,
                    to: 75.5,
                    color: '#E0E0E0'
                },
                {
                    from: 76.5,
                    to: 77.5,
                    color: '#E0E0E0'
                },
                {
                    from: 78.5,
                    to: 79.5,
                    color: '#E0E0E0'
                },
                {
                    from: 80.5,
                    to: 81.5,
                    color: '#E0E0E0'
                },
                {
                    from: 82.5,
                    to: 83.5,
                    color: '#E0E0E0'
                },
                {
                    from: 84.5,
                    to: 85.5,
                    color: '#E0E0E0'
                },
                {
                    from: 86.5,
                    to: 87.5,
                    color: '#E0E0E0'
                },
                {
                    from: 88.5,
                    to: 89.5,
                    color: '#E0E0E0'
                },
                {
                    from: 90.5,
                    to: 91.5,
                    color: '#E0E0E0'
                },
                {
                    from: 92.5,
                    to: 93.5,
                    color: '#E0E0E0'
                },
                {
                    from: 94.5,
                    to: 95.5,
                    color: '#E0E0E0'
                },
                {
                    from: 96.5,
                    to: 97.5,
                    color: '#E0E0E0'
                },
                {
                    from: 98.5,
                    to: 99.5,
                    color: '#E0E0E0'
                },
                {
                    from: 4.5,
                    to: 5.5,
                    color: '#E0E0E0'
                }
            ],
            labels: {
                step: 2
            },
            categories: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100']
        },
        yAxis: {
            lineColor: '#6C6C6C',
            lineWidth: 2,
            min: 0,
            gridLineColor: '#ADADAD',//横向网格线颜色
            gridLineDashStyle: 'solid',//横向网格线样式
            gridLineWidth: 2,//横向网格线宽度
            title: {
                text: 'Temperature'
            },
            labels: {
                formatter: function () {
                    return this.value + '°'
                }
            }
        },
        tooltip: {
            crosshairs: [
                {
                    color: '#5D5D5D',
                    dashStyle: 'dash',
                    width: 2
                },
                {
                    color: '#5D5D5D',
                    dashStyle: 'dash',
                    width: 2
                }
            ],
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 1.5,
                    lineColor: '#613030',
                    lineWidth: 0.5
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: 90,
            y: 45
        },

        series: [
            {
                name: 'GC Content',
                color: "#0000E3",
                marker: {
                    symbol: 'square'
                },
                data: [44.0, 48.0, 57.5, 81.5, 141.5, 250.0, 357.0, 492.5, 720.0, 1010.0, 1168.0, 1450.0, 2142.0, 3391.0, 5911.0, 10625.5, 18849.0, 32694.0, 54579.5, 88148.5, 108487.0, 136043.5, 199683.0, 282149.0, 381962.5, 498409.0, 632383.0, 779184.5, 933999.5, 1094312.5, 1175654.0, 1260062.0, 1431052.5, 1609451.0, 1796046.5, 1985098.5, 2166883.5, 2333895.0, 2478368.0, 2584766.5, 2626191.0, 2642110.0, 2650046.5, 2608618.0, 2520431.5, 2384909.0, 2209920.0, 2011786.0, 1795341.5, 1577273.0, 1471722.0, 1373284.5, 1192261.0, 1045854.0, 931241.5, 842595.0, 772128.5, 707584.5, 646788.5, 590502.0, 563079.0, 535462.0, 485475.0, 441308.0, 399311.5, 360493.5, 322350.5, 283937.5, 244423.0, 204218.0, 184639.0, 167176.5, 133628.0, 103939.5, 79013.5, 58565.5, 42583.5, 30374.5, 21371.0, 15030.0, 12341.0, 10629.0, 7608.5, 5473.5, 3987.0, 2764.5, 1913.0, 1328.5, 875.5, 601.5, 485.0, 426.0, 301.0, 201.0, 137.0, 88.0, 56.0, 33.5, 15.5, 7.0, 7.0]

            },
            {
                name: 'Theoretical Distribution',
                color: "#FF0000",
                marker: {
                    symbol: 'diamond'
                },
                data: [19884.0, 12194.5, 3920.5, 3372.0, 3668.0, 4210.5, 4817.5, 5477.0, 6152.0, 6863.5, 7235.0, 7789.5, 9074.5, 10862.0, 13792.0, 19129.5, 28103.0, 41964.0, 64055.0, 97795.5, 117797.0, 145279.0, 208644.0, 289892.5, 389016.5, 505034.0, 636127.0, 780591.0, 934382.0, 1093607.5, 1174672.0, 1257822.5, 1426481.0, 1602504.5, 1785800.0, 1970145.5, 2148041.0, 2312660.0, 2454788.0, 2558978.5, 2599330.0, 2617275.5, 2625742.0, 2584402.5, 2497947.0, 2364090.0, 2192509.0, 1995668.0, 1781530.5, 1568906.0, 1465897.0, 1367295.5, 1186874.0, 1041040.5, 926439.5, 838034.5, 766965.5, 701691.0, 642222.0, 587926.5, 561077.0, 534919.5, 485590.5, 441948.0, 401952.0, 363281.5, 325059.5, 287009.0, 248298.5, 209463.0, 190364.0, 173532.0, 141288.0, 112542.5, 88156.0, 68190.5, 52254.0, 39861.5, 30525.0, 23577.0, 20597.0, 18534.0, 14878.5, 12194.0, 10086.0, 8353.0, 7014.0, 5988.0, 5080.0, 4303.0, 4030.0, 3756.5, 3227.0, 2758.0, 2352.0, 1992.0, 1665.5, 1379.0, 1045.5, 667.5, 496.0]
            }
        ]
    });
});
$(document).ready(function () {
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chart6',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Pie Charts Data'
        },
        tooltip: {
            formatter: function () {
                return  '<b>' + this.point.name + '</b>';
            }

        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: 90,
            y: 45
        },

        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [
            {
                type: 'pie',
                name: 'Browser share',
                dataLabels: {
                    enabled: true,
                    overflow: true,
                    formatter: function () {
                        return Highcharts.numberFormat(this.percentage, 1) + ' %';
                    }
                },
                data: [
                    ['RNA processing and modification', 26],
                    ['Chromatin structure and dynamics', 24.6],
                    ['Energy production and conversion', 44.2],
                    ['Cell cycle control, cell division', 2.6],
                    ['Amino acid transport and metabolism', 2.1],
                    ['Nucleotide transport and metabolism', 1.9],
                    ['Carbohydrate transport and metabolism', 2943.68],
                    ['Coenzyme transport and metabolism', 1599.0],
                    ["Lipid transport and metabolism", 857.8],
                    ['Translation, ribosomal structure and biogenesis', 4129.2],
                    ["Transcription", 1793.61],
                    ["Replication, recombination and repair", 3307.43],
                    ["Cell wall/membrane/envelope biogenesis", 2956.17],
                    ["Cell motility", 42.7174],
                    ["Posttranslational modification, protein turnover, chaperones", 1660.83],
                    ["Inorganic ion transport and metabolism", 2003.9],
                    ["Secondary metabolites biosynthesis, transport and catabolism", 449.644],
                    ["General function prediction only", 4901.16],
                    ["Signal transduction mechanisms", 791.628],
                    ["Intracellular trafficking, secretion, and vesicular transport", 803.987],
                    ["Defense mechanisms", 1273.44],
                    ["Extracellular structures", 61.0684713],
                    ["Cytoskeleton", 3.43022],
                    ["Function unknown", 6278.61]
                ]
            }
        ]
    });
});
</script>


<script>
    $(function () {
        $('#chart1').highcharts({

            /*chart: {
             type: 'boxplot'
             },
             */

            title: {
                text: 'Quality scores across all bases(Illumina 1.5 encoding) '
            },

            legend: {
                enabled: false
            },

            xAxis: {
                categories: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80-84', '85-89', '90' ],
                title: {
                    text: 'Position in read(bp).'
                }
            },

            yAxis: {
                title: {
                    text: 'Values'
                },

                tickPositions: [31, 41],
                plotLines: [
                    {
                        value: 35,
                        /*color: 'red',*/
                        width: 1,
                        label: {
                            /*text: 'Theoretical mean: 932',*/
                            align: 'center',
                            style: {
                                color: 'gray'
                            }
                        }
                    }
                ]
            },


            series: [
                {
                    type: 'boxplot',
                    name: 'Observations',
                    data: [
                        [31, 33, 34, 34, 34],
                        [31, 34, 34, 34, 34],
                        [31, 34, 34, 34, 34],
                        [35, 37, 37, 37, 37],
                        [35, 37, 37, 37, 37],
                        [35, 37, 37, 37, 37],
                        [35, 37, 37, 37, 37],
                        [35, 37, 37, 37, 37],
                        [37, 39, 39, 39, 39],
                        [37.2, 39.2, 39, 39.4, 39.4],
                        [38, 40, 41, 41, 41],
                        [38, 40, 41, 41, 41],
                        [38, 40, 41, 41, 41],
                        [37.2, 40, 41, 41, 41],
                        [36.4, 39.8, 41, 41, 41],
                        [35.2, 39, 41, 41, 41],
                        [35, 38.4, 40, 41, 41],
                        [35, 38, 40, 41, 41],
                        [35, 37.2, 40, 41, 41],
                        [34.6, 36.4, 39.6, 41, 41],
                        [34, 35, 38.8, 41, 41],
                        [33.4, 35, 36.8, 39.6, 41],
                        [32.4, 34.8, 35.2, 37.8, 39.6],
                        [33, 35, 35, 36.6, 38.8],
                        [32, 35, 35, 36, 37],
                        [32, 35, 35, 35, 36]


                    ],
                    tooltip: {
                        headerFormat: '<em>Experiment No {point.key}</em><br/>'
                    }
                },

                {
                    type: 'spline',
                    name: 'mean',
                    data: [33.14, 33.32 , 33.33, 36.58, 36.54, 36.55, 36.53, 36.53, 38.39, 38.72, 40.00, 39.94, 39.82, 39.64, 39.39, 39.13, 38.81, 38.72, 38.43, 38.00, 37.28, 36.44, 35.34, 34.81, 34.02, 33.62 ]
                },

                {
                    name: 'Outlier',
                    color: Highcharts.getOptions().colors[0],
                    type: 'scatter',
                    data: [ // x, y positions where 0 is the first category
                        [0, 644],
                        [4, 718],
                        [4, 951],
                        [4, 969]
                    ],
                    marker: {
                        fillColor: 'white',
                        lineWidth: 1,
                        lineColor: Highcharts.getOptions().colors[0]
                    },
                    tooltip: {
                        pointFormat: 'Observation: {point.y}'
                    }
                }
            ]

        });
    });
</script>

</body>
</html>
