{% extends "include/navbar-fixed-top.html" %}
{% block navbar %}
     <ul class="nav navbar-nav">
               <li><a href="/{{ language }}/index">{{posts.Home}}</a></li>
                <li><a href="/{{ language }}/projects">{{posts.Projects}}</a></li>
                <li><a href="/{{ language }}/samples?name={{ project_name }}">{{ project_name }}</a></li>
                <li class="active"><a
                        href="/{{ language }}/profile?project={{ project_name }}&name={{ sample_name }}">{{ sample_name }}</a>
                </li>
            </ul>
            {% include "include/nav_bar_right.html" %}
{% endblock %}
{% block contain %}
<div class="jumbotron">
    <div class="container">
        <h2>{{ sample_name }}</h2>

        <table id="detail" class="table table-striped">
            {% for detail_name in selected_details_name %}
                <tr>
                    <td>{{ posts[detail_name] }}</td>
                    <td>{{ sample_detail[detail_name] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="container">
    <h1>Quality scores across all bases(Illumina 1.5 encoding)</h1>
    <div class="row">
        <div id="chart1_1"></div>
    </div>
</div>

<div class="container">
    <h1>Quality scores across all bases(Illumina 1.5 encoding)</h1>
    <div class="row">
        <div id="chart1_2"></div>
    </div>
</div>
<div class="container">
    <h1>Quality score distribution over all sequences</h1>
    <div class="row">
        <div id="chart2_1"></div>
    </div>
</div>

<div class="container">
    <h1>Quality score distribution over all sequences</h1>
    <div class="row">
        <div id="chart2_2"></div>
    </div>
</div>
<div class="container">
    <h1>Sequece content across all cases</h1>
    <div class="row">
        <div id="chart3_1"></div>
    </div>
</div>
<div class="container">
    <h1>Sequece content across all cases</h1>
    <div class="row">
        <div id="chart3_2"></div>
    </div>
</div>
<div class="container">
    <h1>GC content across all bases</h1>
    <div class="row">
        <div id="chart4_1"></div>
    </div>
</div>
<div class="container">
    <h1>GC content across all bases</h1>
    <div class="row">
        <div id="chart4_2"></div>
    </div>
</div>

<div class="container">
    <h1>GC distribution over all sequences</h1>
    <div class="row">
        <div id="chart5_1"></div>
    </div>
</div>

<div class="container">
    <h1>GC distribution over all sequences</h1>
    <div class="row">
        <div id="chart5_2"></div>
    </div>
</div>
<div class="container">
    <h1>QH-1</h1>
    <div class="row">
        <div id="chart6"></div>
    </div>
</div>
{% endblock %}
{% block title %}
        Biopedia - Sample
{% endblock %}
{% block picture %}
        {% include "include/picture_scripts.html" %}
        {% if not username %}
        {% include "include/login_register_modals.html" %}
        {% endif %}
{% endblock %}
{% block scripts %}
 <script type="text/javascript">
$(function () {
        //createSpline_01('#container','/static/json/01-PerBaseQuality-1.json');
    	convert_to_01('#chart1_1',"/static/text_File/01-PerBaseQuality-1.txt");
    	//createSpline_01('#container','/static/json/01-PerBaseQuality-2.json');
    	convert_to_01('#chart1_2',"/static/text_File/01-PerBaseQuality-2.txt");
        convert_to_02("#chart2_1","/static/text_File/02-PerSequenceQualityScores-1.txt");
        //createSpline_02('#chart2_1','/static/json/02-PerSequenceQualityScores-1.json');
        // $('#chart2').highcharts(chartOptions);
	     convert_to_03('#chart3_1',"/static/text_File/03-PerBaseSequenceContent-1.txt");
    	//createSpline_03('#chart3_1','/static/json/03-PerBaseSequenceContent-1.json');
    	//createSpline_04('#chart4_1','/static/json/04-PerBaseGCContent-1.json');
    	convert_to_04('#chart4_1',"/static/text_File/04-PerBaseGCContent-1.txt");
	    //createSpline_05('#chart5_1','/static/json/05-PerSequenceGCContent-1.json');
    	convert_to_05('#chart5_1',"/static/text_File/05-PerSequenceGCContent-1.txt");

    	convert_to_02("#chart2_2","/static/text_File/02-PerSequenceQualityScores-2.txt");
        //createSpline_02('#chart2_2','/static/json/02-PerSequenceQualityScores-2.json');
        // $('#chart2').highcharts(chartOptions);
	     convert_to_03('#chart3_2',"/static/text_File/03-PerBaseSequenceContent-2.txt");
    	//createSpline_03('#chart3_2','/static/json/03-PerBaseSequenceContent-2.json');
    	//createSpline_04('#chart4_2','/static/json/04-PerBaseGCContent-2.json');
    	convert_to_04('#chart4_2',"/static/text_File/04-PerBaseGCContent-2.txt");
	    //createSpline_05('#chart5_2','/static/json/05-PerSequenceGCContent-2.json');
    	convert_to_05('#chart5_2',"/static/text_File/05-PerSequenceGCContent-2.txt");

	    //createPie_06('#chart6','/static/json/06-COGContent.json');
    	convert_to_06('#chart6',"/static/text_File/06-COGContent.txt");
	});
</script>
{% endblock %}

