{% extends "include/navbar-fixed-top.html" %}
{% block navbar %}
    <ul class="nav navbar-nav">
        <li><a href="/{{ language }}/index">{{posts.Home}}</a></li>
        <li class="active"><a href="/{{ language }}/projects">{{posts.Projects}}</a></li>
    </ul>
    {% include "include/nav_bar_right.html" %}
{% endblock %}
{% block contain %}
    <div class="jumbotron" style="background-image: url(/static/images/projects_jumbo.jpg);
        background-size: cover;">
        <div class="container">
            <h2>{{posts.Projects}}</h2>
            <p>
                {% if user %}
                <button class="btn btn-primary" data-toggle="modal" data-target="#insert">
                     {{posts.proj_comment}}
                </button>
                {% else %}
                    {{posts.Insert_pro}}
                {% endif %}
            </p>


        </div>
    </div>

    <div class="container">

        <table id="projects" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>{{posts.Projects}}</th>
                <th>{{posts.Environment}}</th>
                <th>{{posts.Site}}</th>
                <th>{{posts.seq_type}}</th>
                <th>{{posts.pro_id}}</th>
                <th>{{posts.F}}</th>
                <th>{{posts.S}}</th>
                <th>{{posts.T}}</th>
                <th>{{posts.Fo}}</th>
                <th>{{posts.Fi}}</th>
                <th>{{posts.Si}}</th>
                <th>{{posts.Se}}</th>
                {% if user %}
                    <th>{{posts.Star}}</th>
                    <th>{{posts.Delete}}</th>
                {% endif %}

            </tr>
            </thead>
            <tbody>
            {% for project in project_list %}
                <tr>
                    <td><a href="/{{language}}/samples?name={{ project['name'] }}">{{ project['name'] }}</a></td>
                    <td>{{ project['environment'] }}</td>
                    <td>{{ project['site'] }}</td>
                    <td>{{ project['sequence_type'] }}</td>
                    <td>{{ project['project_id'] }}</td>
                    <td>{{ project['num_of_total_sequences'] }}</td>
                    <td>{{ project['num_of_orfs'] }}</td>
                    <td>{{ project['num_of_samples'] }}</td>
                    <td>{{ project['read_length'] }}</td>
                    <td>{{ project['platform'] }}</td>
                    <td>{{ project['create_date']['month'] }}/{{ project['create_date']['day'] }}/{{ project['create_date']['year'] }}
                    </td>
                    <td>{{ project['update_date']['month'] }}/{{ project['update_date']['day'] }}/{{ project['update_date']['year'] }}
                    </td>
                    {% if user %}
                        <td>
                            {% if project['star'] %}
                                <img id="{{ project['name'] }}" class="circle" height="50px" width="50px"
                                     onclick="toggleStarStatus('{{ user['username'] }}', '{{ project['name'] }}')"
                                     src="/unstar-picture" alt="icon">
                            {% else %}
                                <img id="{{ project['name'] }}" class="circle" height="50px" width="50px"
                                     onclick="toggleStarStatus('{{ user['username'] }}', '{{ project['name'] }}')"
                                     src="/star-picture" alt="icon">
                            {% endif %}

                        </td>
                        {% if user['admin'] == True or project['delete'] == True %}
                            <td>
                                <button class="btn btn-primary btn-sm"
                                        onclick="changeDeleteModalBehavior('{{ project['name'] }}')" data-toggle="modal"
                                        data-target="#myprojectdelete">
                                    {{posts.Delete}}
                                </button>
                            </td>
                        {% else %}
                            <td>
                                <button class="btn btn-primary btn-sm disabled">
                                    {{posts.Delete}}
                                </button>
                            </td>
                        {% endif %}
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="myprojectdelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">x</span></button>
                    <h3 class="modal-title" id="myModalLabel">Delete Confirm</h3>
                </div>

                <div class="modal-body">

                    <h4 id="deleteProject"></h4>
                    <h4>{{posts.cannot_be_revert}}</h4>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{posts.NO}}</button>
                        <a id="projectDeleteButton" href="">
                            <button type="button" class="btn btn-primary" value="confirm">{{posts.Yes}}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="insert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">x</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{posts.insert_N}}</h4>
                </div>
                <form class="form-horizontal" action="/projects_insert" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div style="overflow-y:auto; overflow-x:auto;  height: 400px">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td><label>{{posts.Name}}</label></td>
                                    <td><input type="text" name="name"/></td>
                                </tr>
                                <tr>
                                    <td><label>{{posts.Environment}}</label></td>
                                    <td><input type="text" name="environment"/></td>
                                </tr>
                                <tr>
                                    <td><label>{{posts.Site}}</label></td>
                                    <td><input type="text" name="site"/></td>
                                </tr>
                                <tr>
                                    <td><label>{{posts.seq_type}}</label></td>
                                    <td><input type="text" name="sequence_type"/></td>
                                </tr>
                                <tr>
                                    <td><label>{{posts.pro_id}}</label></td>
                                    <td><input type="text" name="project_id"/></td>
                                </tr>
                                <tr>
                                    <td><label>{{posts.F}}</label></td>
                                    <td><input type="text" name="num_of_total_sequences"/></td>
                                </tr>
                                <tr>
                                    <td><label>{{posts.S}}</label></td>
                                    <td><input type="text" name="num_of_orfs"/></td>
                                </tr>
                                <tr>
                                    <td><label>{{posts.T}}</label></td>
                                    <td><input type="text" name="num_of_samples"/></td>
                                </tr>
                                <tr>
                                    <td><label>{{posts.Fo}}</label></td>
                                    <td><input type="text" name="read_length"/></td>
                                </tr>
                                <tr>
                                    <td><label>{{posts.Fi}}</label></td>
                                    <td><input type="text" name="platform"/></td>
                                </tr>
                                <tr>
                                    <td><label>{{posts.Si}}</label></td>
                                    <td><input type="text" name="create_date"/></td>
                                </tr>
                                <tr>
                                    <td><label>{{posts.Se}}</label></td>
                                    <td><input type="text" name="update_date"/></td>
                                </tr>
                                <tr>
                                    <td><label>{{posts.M_F}}</label></td>
                                    <td><input type="file" name="mapping"/></td>
                                </tr>
                                <tr>
                                    <td><label>{{posts.S_F}}</label></td>
                                    <td><input type="file" name="samples"/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">{{posts.CLOSE}}</button>
                        <button type="submit" class="btn btn-primary" value="Ok">{{posts.OK }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <h4><a href="/en/projects">English</a> | <a href="/cn/projects">中文</a></h4>
    </div>

{% endblock %}
{% block title %}
    {{posts.pro_title}}
{% endblock %}
{% block picture %}
    {% if not username %}
        {% include "include/login_register_modals.html" %}
    {% endif %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        function toggleStarStatus(username, project) {
            $.ajax({url: "/star?user=" + username + "&project=" + project},
                    async = false)
                    .done(function (html) {
                        if (html == "Star") {
                            $("#" + project).attr('src', '/star-picture');
                        } else if (html == "Unstar") {
                            $("#" + project).attr('src', '/unstar-picture');
                        } else {
                            alert("Session failed. Please reload your page.")
                        }
                        ;

                    })
        }
        function changeDeleteModalBehavior(project) {
            var refstr = "/delete-project?projectname=" + project;
            document.getElementById('projectDeleteButton').href = refstr;
            $('#deleteProject').text('Do you really want to delete the project ' + project + "?");
        }

        $(document).ready(function () {
            $('#projects').dataTable({
                "scrollX": true
            });

        });
    </script>
{% endblock %}

