<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<table>
    <tr>
        <th>Projects</th>
        <th>Environment</th>
        <th>Site</th>
        <th>Sequence Type</th>
        <th>Project Id</th>
        <th># of Total Sequences</th>
        <th># of ORFs</th>
        <th># of Samples</th>
        <th>Read Length</th>
        <th>Platform</th>
        <th>Create Date</th>
        <th>Update Data</th>
    </tr>
    {% for project in project_list %}
    <tr>
        <td>{{ project['name'] }}</td>
        <td>{{ project['environment'] }}</td>
        <td>{{ project['site'] }}</td>
        <td>{{ project['sequence_type'] }}</td>
        <td>{{ project['project_id'] }}</td>
        <td>{{ project['num_of_total_sequences'] }}</td>
        <td>{{ project['num_of_orfs'] }}</td>
        <td>{{ project['num_of_samples'] }}</td>
        <td>{{ project['read_length'] }}</td>
        <td>{{ project['platform'] }}</td>
        <td>{{ project['create_date']['month'] }}/
            {{ project['create_date']['day'] }}/
            {{ project['create_date']['year'] }}
        </td>
        <td>{{ project['update_date']['month'] }}/
            {{ project['update_date']['day'] }}/
            {{ project['update_date']['year'] }}
        </td>
    </tr>
    {% endfor %}

</table>

</body>
</html>