{% extends "include/navbar-fixed-top.html" %}
{% block link %}
     <link href="{{ url_for('static', filename='css/dataTables.keyTable.css') }}" rel="stylesheet">
{% endblock %}
{% block navbar %}
   <ul class="nav navbar-nav">
                <li><a href="/{{ language }}/index">{{posts.Home}}</a></li>
                <li><a href="/{{ language }}/projects">{{posts.Projects}}</a></li>
                <li class="active"><a href="#">{{ project_name }}</a></li>
            </ul>
   {% include "include/nav_bar_right.html" %}
{% endblock %}
{% block contain %}
<div class="jumbotron" style="background-image: url(/static/images/samples_jumbo.jpg);
        background-size: cover;">
    <div class="container">

        <h2>{{ project_name }}</h2>
        <p>{{posts.Desp}}</p>
        <div class="row">
            <div class="col-lg-3">
                <a href="/download-sample?project_name={{ project_name }}"><button class="btn btn-primary btn-sm">{{posts.Download}}</button></a>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filter">{{posts.S_F_F}}</button>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#column_selection">{{posts.V_M_F}}</button>
            </div>
            {% if created_project %}
            <div class="col-lg-3">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#update_samples">
                    {% if language == 'en' %}
                    Update samples
                        {% else %}
                        更新样本
                        {% endif %}
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">

    <table id="samples" class="table table-striped table-bordered">
		<thead>
        <tr>
            {% if 'cn' in language %}
                <th>患者序列号</th>
            {% else %}
                <th>sampleId</th>
            {% endif %}
            {% for field in project_fields_name %}
            <th>{{ mapping[field] }}</th>
            {% endfor %}

        </tr>
        </thead>
        <tbody>
        {% for sample in sample_list %}
        <tr>
            <td><a href="/{{language}}/profile?project={{project_name}}&name={{sample['name']}}">{{sample['name']}}</a></td>
            {% for field in project_fields_name %}
            <td>{{ sample[field] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
		</tbody>
    </table>

</div>

<!-- Modal Definitions (tabbed over for <pre>) -->
<div class="modal fade" id="column_selection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">x</span></button>
        <h4 class="modal-title" id="myModalLabel">{{posts.S_C}}</h4>
      </div>
    <form class="form-horizontal">
      <div class="modal-body">
          <div style="overflow-y:auto; overflow-x:auto;  height: 400px" >
                <fieldset>
                {% for field_name in all_fields_name %}
                    <div class="checkbox col-lg-4">
                        <label>
                            {% if field_name in project_fields_name %}
                                <input checked="checked" name="fields" class="form-group" type="checkbox" value="{{field_name}}"/>{{mapping[field_name]}}
                            {% else %}
                                <input name="fields" class="form-group" type="checkbox" value="{{field_name}}"/>{{mapping[field_name]}}
                            {% endif %}
                        </label>
                    </div>
                 {% endfor %}
                 <input name="name" value="{{ project_name }}" type = "hidden">
               </fieldset>

          </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">{{posts.CLOSE}}</button>
        <button type="submit" class="btn btn-primary" value="Ok">{{posts.OK}}</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div id="filter" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;">
    <div class="modal-dialog modal-dialog-">
      <div class="modal-content">
    <form action="/samples" method="get">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{posts.S_Fileds}}</h4>
        </div>
        <div class="modal-body">

                <table class="table table-striped">
                <thead></thead>
                <tbody>
                {% for field in project_fields_name %}
                <tr>
                {% if field in fields_string_type %}
                <td><label>{{ mapping[field] }}</label></td>
                <td><select name="{{ field }}" style="width:180px">
                    <option value="">{{ element }}</option>
                    {% for element in string_field_element[field] %}
                        <option value="{{ element }}">{{ element }}</option>
                    {% endfor %}
                </select>
                </td>
                <td><input type="text" disabled /></td>
                {% else %}
                <td><label>{{  mapping[field] }}</label></td>
                <td><select name="{{ field }}" style="width:180px">
                    <option value="no"></option>
                    <option value="eq">=</option>
                    <option value="lt">&lt;</option>
                    <option value="gt">&gt;</option>

                </select>
                </td>
                <td><input type="text" name="{{field}}"/></td>
                {% endif %}
                </tr>
                {% endfor %}
                </tbody>
                </table>
            <input name="name" value="{{ project_name }}" type = "hidden">
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">{{posts.CLOSE}}</button>
            <button type="submit" class="btn btn-primary" value="Ok">{{posts.OK}}</button>
        </div>

    </form>
      </div>
    </div>
    </div>

<div class="modal fade" id="update_samples" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">x</span></button>
        <h4 class="modal-title">Update data</h4>
      </div>
    <form class="form-horizontal" action="/update-project" method="post" enctype="multipart/form-data">
      <div class="modal-body">
        <fieldset>
            <div class="form-group">
            <label for="file" class="col-lg-4 control-label">Input File</label>
    
            <div class="col-lg-8">
                <input type="file" name="update" required>
                <input type="text" name="project_name" value="{{ project_name }}" hidden="true">
            </div>
        </div>
     </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        <button type="submit" class="btn btn-primary" value="Ok">Ok</button>
      </div>
    </form>
    </div>
  </div>
</div>
<div class="container">
    <h4><a href="/en/samples?name={{ project_name }}">English</a> | <a href="/cn/samples?name={{ project_name }}">中文</a></h4>
</div>

{% endblock %}
{% block title %}
        Biopedia - {{ project_name }}
{% endblock %}
{% block picture %}
        <script src="{{ url_for('static', filename='js/dataTables.keyTable.js') }}"></script>
        {% if not username %}
        {% include "include/login_register_modals.html" %}
        {% endif %}
{% endblock %}
{% block scripts %}
 <script type="text/javascript">
    $(document).ready(function () {
        var table = $('#samples').dataTable({
        "scrollX": true
    });
    new $.fn.dataTable.KeyTable( table );

    });
</script>
{% endblock %}


