{% macro switch_lang(en, cn) %}
    {% if language =='en' %}
        {{ en }}
    {% else %}
        {{ cn }}
    {% endif %}
{% endmacro %}
{% extends "include/navbar-fixed-top.html" %}
{% block navbar %}
    <ul class="nav navbar-nav">
                <li><a href="/{{ language }}/index">{{switch_lang('Home','主页')}}</a></li>
                <li><a href="/{{ language }}/projects">{{switch_lang('Projects','工程')}}</a></li>
            </ul>
    <ul class="nav navbar-nav navbar-right">
         {% include "include/nav_bar_right.html" %}
{% endblock %}
{% block contain %}
<div class="container">
<p><br/></p>
    <h1>{{ disp_user['firstname'] }} {{ disp_user['lastname'] }}</h1>
        <p><br/></p>
        <div class="row">
            <div class="col-lg-4">
                <div class="well">
                    <h2>{{switch_lang('User Information','用户信息')}}</h2>

                    <h2></h2>
                    <table class="table">
                        <tr>
                            <th>{{switch_lang('Username','用户名')}}:</th>
                            <td>{{ disp_user['username'] }}</td>
                        </tr>
                        <tr>
                            <th>{{switch_lang('Full Name','全名')}}:</th>
                            <td>{{ disp_user['firstname'] }} {{ disp_user['lastname'] }}</td>
                        </tr>
                        <tr>
                            <th>{{switch_lang('Email','电子邮件')}}:</th>
                            <td>{{ disp_user['email'] }}</td>
                        </tr>
                        <tr>
                            <th>{{switch_lang('Password','密码')}}:</th>
                            <td>
                                <button class="btn btn-sm btn-primary" data-toggle="modal"
                                        data-target="#mymodifypassword">
                                   {{switch_lang('Modify Password','修改密码')}}
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <h2>{{switch_lang('Starred Projects','喜欢的项目')}}:</h2>

                <p><br/></p>

                <div class="list-group">
                    {% for project in starred_projects %}
                    <div class="list-group-item">
                        <div class="row-picture">
                            <img class="circle" src="/random-picture?project_name={{ project['project_name'] }}" alt="icon">
                        </div>
                        <div class="row-content">
                            <h4 class="list-group-item-heading"><a href="samples?name={{ project['project_name'] }}">
                                {{ project['project_name'] }}
                            </a>
                            </h4>
                            <p>
                                {{switch_lang('We need a description for every project.','请描述你的项目')}}
                            </p>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                <h2>{{switch_lang('Created Projects','创建的项目')}}:</h2>

                <p><br/></p>

                <div class="list-group">
                    {% for project in created_projects %}
                    <div class="list-group-item">
                        <div class="row-picture">
                            <img class="circle" src="/random-picture?project_name={{ project['project_name'] }}" alt="icon">
                        </div>
                        <div class="row-content">
                            <h4 class="list-group-item-heading"><a href="samples?name={{ project['project_name'] }}">
                                {{ project['project_name'] }}
                            </a>
                            </h4>
                            <p>
                                {{switch_lang('We need a description for every project.','请描述你的项目')}}
                            </p>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block title %}
        {{switch_lang('User Profile','个人信息')}} - {{ disp_user['firstname'] }} {{ disp_user['lastname'] }}
{% endblock %}
{% block picture %}
        {% include "include/modify_user_profile_modal.html" %}
{% endblock %}


