{% extends "include/navbar-fixed-top.html" %}
{% block navbar %}
   <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/{{ language }}/projects">Projects</a></li>
            </ul>
            {% include "include/nav_bar_right.html" %}
{% endblock %}
{% block contain %}
<div class="jumbotron">
    <div class="container">
        <h1>Users</h1>

        <p>As an admin, you can manage all your users here.</p>
    </div>
</div>

<div class="container">
    <table id="users" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        {% for users in users_list %}
            <tr>
                <td>
                    <a href="/{{ language }}/user?username={{ users['username'] }}">{{ users['username'] }}</a>
                </td>
                <td>
                    {{ users['email'] }}
                </td>
                <td>
                    {{ users['firstname'] }}
                </td>
                <td>
                    {{ users['lastname'] }}
                </td>
                <td>
                    {% if not users['admin'] %}
                        <button class="btn btn-primary btn-sm"
                                onclick="changeDeleteModalBehavior('{{ users['username'] }}')" data-toggle="modal"
                                data-target="#mydelete">
                            Delete
                        </button>
                    {% else %}
                        <button class="btn btn-primary btn-sm disabled">Delete</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div class="modal fade" id="mydelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">x</span></button>
                <h3 class="modal-title" id="myModalLabel">Delete Confirm</h3>
            </div>

            <div class="modal-body">

                <h4 id="deleteUsername"></h4>
                <h4>This operation cannot be reverted.</h4>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <a id="userDeleteButton" href="">
                        <button type="button" class="btn btn-primary" value="confirm">Yes</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block title %}
        User Profile - {{ user['firstname'] }} {{ user['lastname'] }}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    function changeDeleteModalBehavior(username) {
        var refstr = "/delete-user?username=" + username;
        document.getElementById('userDeleteButton').href = refstr;
        $('#deleteUsername').text('Do you really want to delete the user ' + username + "?");
    }

    $(document).ready(function () {
        $('#users').dataTable();
    });
</script>
{% endblock %}




