{% extends "include/navbar-fixed-top.html" %}
{% block navbar %}
    <ul class="nav navbar-nav">
                <li><a href="/index">Home</a></li>
                <li><a href="/{{ language }}/projects">Projects</a></li>
            </ul>
    <ul class="nav navbar-nav navbar-right">
         {% include "include/nav_bar_right.html" %}
{% endblock %}
{% block contain %}
<div class="container">
<p><br/></p>
    <h1>{{ disp_user['firstname'] }} {{ disp_user['lastname'] }}</h1>
        <p><br/></p>
        <div class="row">
            <div class="col-lg-4">
                <div class="well">
                    <h2>User Information</h2>

                    <h2></h2>
                    <table class="table">
                        <tr>
                            <th>Username:</th>
                            <td>{{ disp_user['username'] }}</td>
                        </tr>
                        <tr>
                            <th>Full Name:</th>
                            <td>{{ disp_user['firstname'] }} {{ disp_user['lastname'] }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{ disp_user['email'] }}</td>
                        </tr>
                        <tr>
                            <th>Password:</th>
                            <td>
                                <button class="btn btn-sm btn-primary" data-toggle="modal"
                                        data-target="#mymodifypassword">
                                    Modify Password
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-8">
                <h2>Starred Projects:</h2>

                <p><br/></p>

                <div class="list-group">
                    {% for project in starred_projects %}
                    <div class="list-group-item">
                        <div class="row-picture">
                            <img class="circle" src="/random-picture?project_name={{ project['project_name'] }}" alt="icon">
                        </div>
                        <div class="row-content">
                            <h4 class="list-group-item-heading"><a href="samples?name={{ project['project_name'] }}">
                                {{ project['project_name'] }}
                            </a>
                            </h4>
                            <p>
                                We need a description for every project.
                            </p>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block title %}
        User Profile - {{ disp_user['firstname'] }} {{ disp_user['lastname'] }}
{% endblock %}
{% block picture %}
        {% include "include/modify_user_profile_modal.html" %}
{% endblock %}


